xsd/mcdag.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- Definition of simple elements -->
	<xs:element name="wcet" type="xs:integer"/>

	<!-- Definition of attributes -->
	<xs:attribute name="number" type="xs:integer"/>

	<!-- Definition of complex elements -->
	<xs:element name="mcsystem">
		<xs:complexType>
			<xs:sequence>
				<xs:element
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
